<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Агро Дрони</h1>
      <div class="description mb-5">
        <h4>
          Розробка вебдодатка застосування агродронів для оптимізації
          сільськогосподарського виробництва.
        </h4>

        <div class="description">
          <p>
            Цей вебдодаток дозволяє вам відстежувати процеси, статуси та
            результати виконання завдань агродронами.
            <br />
            Ви можете створювати нові завдання, переглядати список завдань,
            переглядати деталі завдань, редагувати завдання, видаляти завдання.
          <br />
            Ви можете створювати нові дрони, переглядати список дронів,
            переглядати деталі дронів, редагувати дрони, видаляти дрони.
          </p>
          <img src="assets/images/dashboard.png" alt="Agro Drones Map" [style.width.%]="100"/>
        </div>
      </div>
    </div>
  </div>
</div>
